* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: Roboto;
}

.open {
    display: flex !important;
}

.container {
    max-width: 1125px;
    margin: 0 auto;
}

.pink_container {
    background-color: #f8edf0;
}

.container_black {
    background-color: #000000;
}

/* HEADER */

.header {
    background-color: #f8edf0;
    padding-bottom: 50px;
}

.header_menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.header_nav {
    height: 79px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.header_menu li a {
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    color: #150101;
    opacity: 60%;
    padding-left: 15px;
}

.header_menu li a:hover {
    color: #d23166;
    font-weight: bold;
    font-size: 14px;
    line-height: 100%;
    opacity: 100;
}

.header_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px auto;
}

.header_section_box {
    max-width: 665px;
    width: 100%;
    height: 364px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
}

.header_section h5 {
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    color: #0f0101;
}

.header_section_title {
    font-family: Fredoka;
    font-weight: bold;
    font-size: 57.33px;
    line-height: 121%;
}

.header_title_span {
    color: #d23166;
}

.header_section_par {
    font-family: Hind Madurai;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}

.paragraph_quotes {
    position: relative;
}

.quotes_top {
    position: absolute;
    left: -15px;
    top: 5px;
}

.quotes_bottom {
    position: absolute;
    left: 130px;
    top: 62px;
}

.header_image_wrapper {
    position: relative;
  /*max-width: 100%;*/
  /*height: auto;*/
  /*overflow: visible;*/
}

.main_image {
    display: block;
    max-width: 100%;
}

/*.overlay_image {*/
/*  position: absolute;*/
/*  bottom: -130px;*/
/*  left: -90px;*/
/*  pointer-events: none;*/
/*  width: 620px;*/
/*  height: 500px;*/
/*}*/

/*CONTAINER*/

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}

.item {
    max-width: 250px;
    width: 100%;
    height: 200px;
    background-color: white;
    border-radius: 10px;
}

.item:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.item_img {
    height: 40px;
    margin: 40px auto 25px auto;
    display: block;
}

.item h2 {
    font-family: Hind Madurai;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    margin-bottom: 15px;
}

.item p {
    font-family: Hind Madurai;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    text-align: center;
    color: #000000;
    opacity: 60%;
    padding: 5px 20px 5px 20px;
}

/*Section*/

.section {
    background-color: #f8edf0;
}

.container_pink {
    margin: 40px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container_pink h1 {
    font-family: Hind Madurai;
    font-weight: 600;
    font-size: 44.2px;
    line-height: 111.00000000000001%;
    max-width: 349px;
    width: 100%;
    height: 98.2px;
}

.text_pink {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 10px;
    max-width: 422px;
    width: 100%;
    opacity: 0.7;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 165px;
    height: 50px;
    font-weight: 500;
    font-size: 16px;
    border-radius: 5px;
    background-color: #d64374;
    text-decoration: none;
    color: white;
}

/*SECTION MAIN*/

.main {
    height: 1900px;
}

.product {
    text-align: center;
    margin-top: 70px;
}

.product_header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    font-family: Hind Madurai;
    font-weight: 600;
    font-size: 40.2px;
    line-height: 100%;
}

.product_nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.product_nav li a {
    text-decoration: none;
    font-weight: 600;
    color: #333;
    font-size: 14px;
    padding-bottom: 5px;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    opacity: 60%;
    position: relative;
}

.product_nav li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #d64374;
    transition: width 0.3s ease;
}

.product_nav li a:hover::after {
    width: 100%;
}

.info p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 25px;
    max-width: 422px;
    width: 100%;
    opacity: 0.7;
}

/* New ice cream*/

.container_ice {
    font-family: Hind Madurai;
    font-weight: 700;
    font-size: 26px;
    line-height: 100%;
    margin-bottom: 10px;
}

.product_title {
    font-size: 24px;
    font-weight: bold;
    color: #1a1a1a;
}

.new_price {
    font-size: 26px;
    font-weight: 500;
    font-family: Hind Madurai;
}

.old_price {
    text-decoration: line-through;
    color: gray;
    margin-left: 10px;
    font-family: Hind Madurai;
    font-weight: 500;
    font-size: 20px;
}

.price {
    margin-bottom: 15px;
}

.info_2 {
    max-width: 454px;
    width: 100%;
    height: 234px;
}

.main-container_pink {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.right-align {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}

.pink_container_section {
    max-height: 678px;
    height: 100%;
    background-color: #f8edf0;
}

.img_order {
    width: 305px;
    height: 627px;
    margin-top: 100px;
    border-radius: 15px;
}

.container-order {
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order_info {
    width: 750px;
}

.title_order {
    font-weight: 500;
    font-size: 44.2px;
    line-height: 100%;
    margin-bottom: 25px;
}

.text_order {
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    margin-bottom: 25px;
    max-width: 450px;
}

.title_order_3 {
    font-weight: 400;
    font-size: 22px;
    line-height: 100%;
}

.email_section {
    max-height: 545px;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.email_box {
    max-width: 637px;
    max-height: 225px;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin: 120px auto;
}

.email {
    width: 637px;
    height: 74px;
    border-radius: 5px;
    border-color: #fafafa;
    background-color: #fafafa;
    border: 1px solid transparent;
    padding-left: 20px;
}

.email_field {
    display: flex;
    justify-content: space-between;
}

.btn_email {
    width: 134px;
    height: 74px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: #fafafa;
    font-weight: 500;
    font-size: 16px;
    background-color: #d64374;
    text-decoration: none;
    border: transparent;
    color: white;
}

.email_title_2 {
    font-weight: 500;
    font-size: 44px;
    line-height: 100%;
    text-align: center;
    margin-bottom: 70px;
}

.email_title {
    font-weight: 500;
    font-size: 44px;
    line-height: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.footer {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #0a0808;
}

.footer_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    padding-right: 15px;
}

.logo_penguin {
    width: 79px;
    height: 79px;
}

.logo_penguin_section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer_par {
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    color: white;
    width: 207px;
    height: 47px;
    opacity: 0.7;
    margin-bottom: 25px;
}

.footer_par_media {
    color: #ffffff;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
}

.footer-icon {
    margin-right: 5px;
}

.footer_nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 80px;
}

.footer_nav a:hover {
    color: aliceblue;
    font-size: 12px;
    line-height: 100%;
    opacity: 100;
}

.footer_nav a {
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    color: white;
    width: 207px;
    height: 47px;
    opacity: 0.7;
    margin-bottom: 25px;
}

ul li:last-child {
    margin-bottom: 0;
}

.footer_nav li {
    margin-bottom: 7px;
}

form {
    gap: 0;
}

.newsletter {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.footer-nav-block {
    display: flex;
}

.newsletter h4 {
    color: white;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
}

.image.image-scoops.pink-scoops {
    position: relative;
}

.email_footer {
    width: 263px;

    height: 55px;
    border-radius: 5px;
    border-width: 2px;
    opacity: 0.5;
    background-color: #0a0808;
    border: 2px solid #d64374;
    padding-left: 20px;
    color: white;
}

input[type="email"]:focus {
    outline: none;
    border: 1px solid #d23166;
    box-shadow: none;
}

.btn_footer {
    max-width: 125px;
    width: 100%;
    height: 55px;
    border-radius: 5px;
    background-color: #d23166;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    color: white;
    border: transparent;
}

.pink_container {
    position: relative;
}

/*.shadow {*/
/*  position: absolute;*/
/*  left: 1075px;*/
/*  top: 475px;*/
/*}*/

.newsletter_form {
    display: flex;
    margin-bottom: 10px;
}

.img_paypal {
    width: 18.77719497680664px;
    height: 22.000192642211914px;
    margin-bottom: -15px;
}

.img_paypal_blue {
    width: 14.59750747680664px;
    height: 17.004098892211914px;
}

.rectangle {
    width: 30px;
    height: 30px;
    border-radius: 3px;
    background-color: white;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container-review {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rectangle_title {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.rectangle_img {
    width: 15px;
    height: 20px;
}

.app_icons {
    display: flex;
    align-items: center;
}

.app_icon_google {
    margin-left: -10px;
}

.app_icon_appstore {
    width: auto;
    object-fit: contain;
}

.review {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
}

.girl_img {
    padding-right: 10px;
}

.girl_image {
    width: 189px;
    height: 48px;
}

. {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.girl_img_last {
    width: 35px;
    height: 35px;
}

.review_nav img {
    margin-left: 25px;
}

.review_nav img:first-child {
    margin-left: 0;
}

.girl_image h4 {
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    text-align: center;
}

.girl_image h3 {
    width: 77px;
    height: 15px;
    opacity: 0.7;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
}

.girl_image h2 {
    font-family: Hind Madurai;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    margin-bottom: 5px;
}

.girl_img_second {
    border: 1px solid #d64374;
    border-radius: 50%;
}

.info_container_pink {
    height: 270px;
    max-width: 442px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-left {
    padding-right: 50px;
}

/*BURGER*/

.burger {
    display: none;
    position: relative;
    z-index: 50;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 18px;
    cursor: pointer;
}

.burger span {
    height: 2px;
    width: 80%;
    transform: scale(1);
    background-color: fuchsia;
}

.burger::before,
.burger::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #d64374;
    transition: all 0.3s ease 0s;
}

.burger::before {
    top: 0;
}

.burger::after {
    bottom: 0;
}

.burger.active span {
    transform: scale(0);
    transition: all 0.3s ease;
}

.burger.active::before {
    top: 50%;
    transform: rotate(45deg);
}

.burger.active::after {
    bottom: auto;
    top: 50%;
    transform: rotate(-45deg);
}

@media (max-width: 768px) {
    .header_menu,
    .header_section,
    .flex-container,
    .info_container_pink {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

  /*.shadow {*/
  /*  display: none;*/
  /*}*/

    .header_nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .header_section_box,
    .info,
    .container {
        width: 90%;
    }

    .main_image {
        max-width: 100%;
        height: auto;
    }

  /*.overlay_image {*/
  /*  max-width: 600px;*/
  /*}*/

    .text_order {
        width: 90%;
    }

    .app_icons {
        display: flex;
        flex-direction: column;
    }

    .logo {
        margin-bottom: 15px;
    }

  /*.overlay_image {*/
  /*  top: 100px;*/
  /*  left: -30px;*/
  /*}*/

    .container_pink {
        width: 90%;
    }

    .info_2 {
        width: 100%;
        margin-bottom: 20px;
    }

    .newsletter {
        margin-top: 20px;
    }

    .email_box {
        width: 100%;
    }

    .text_pink {
        line-height: 18px;
    }
}

@media (max-width: 1062px) {
    .main {
        height: auto;
        padding-bottom: 50px;
    }

    .header_button {
        display: none;
    }

    .product_nav {
        display: none;
    }

    .info_2 {
        max-width: 454px;
        width: 100%;
        height: auto;
        margin-bottom: 30px;
    }

    .header_nav {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header_img {
        z-index: 100;
    }

    .burger {
        display: flex;
        z-index: 101;
    }

    .header_menu {
        display: none;
        flex-direction: column;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 50;
        overflow-y: auto;
        padding: 50px 40px;
        background-color: pink;
        animation: burgerAnimation 0.4s;
    }

    .header_menu ul {
        flex-direction: column;
        gap: 20px;
    }

    .header_menu li a:hover {
        color: #d23166;
        font-weight: bold;
        font-size: 14px;
        line-height: 100%;

        opacity: 100;
    }

    .main-container_pink {
        flex-direction: column;
    }

    .main-container_pink:nth-child(odd) {
        flex-direction: column;
    }

    .main-container_pink:nth-child(even) {
        flex-direction: column-reverse;
    }

    .info_2,
    .info_2.right-align {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        max-width: 100%;
    }

    .right-align {
        align-items: center;
        text-align: center;
    }

    .image {
        max-width: 70%;
        margin: 0 auto 20px;
    }

    .header {
        height: auto;
        padding: 0 20px 20px 20px;
    }

    .header_menu {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin-top: 10px;
    }

    .header_button {
        margin-top: 10px;
    }

    .header_section {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .header_section_box {
        width: 90%;
        height: auto;
        margin-bottom: 20px;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
    }

    .header_section_title {
        font-size: 20px;
        line-height: 120%;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .header_section_par {
        font-size: 16px;
        line-height: 22px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .header_image_wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
    }

  /*.main_image,*/
  /*.overlay_image {*/
  /*  max-width: 100%;*/
  /*  height: auto;*/
  /*}*/

  /*.overlay_image {*/
  /*  top: 130px;*/
  /*  left: -40px;*/
  /*}*/

    .container_pink {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
    }

    .flex-container {
        align-items: center;
        text-align: center;
        flex-direction: column;
    }

    .info_container_pink {
        display: flex;
        width: 80%;
        height: auto;
        margin-bottom: 20px;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .text_pink {
        line-height: 15px;
    }

    .info_container_pink h1 {
        font-size: 22px;
        line-height: 120%;
        padding-top: 15px;
        height: 50px;
    }

    .image {
        max-width: 65%;
        height: auto;
    }

    .product_header {
        font-size: 20px;
    }

    .main-container_pink {
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    .main-container-review {
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    .image-scoops {
        display: none;
    }

    .img_order {
        display: none;
    }

    .title_order {
        font-size: 20px;
        padding-top: 10px;
    }

    .container-order {
        margin: 5px auto;
    }

    .container {
        width: 90%;
        padding-left: 15px;
        padding-right: 15px;
    }

    .info {
        width: 90%;
        padding-left: 15px;
        padding-right: 15px;
    }

    .pink_container {
        height: auto;
    }

    .email_box {
        width: 100%;
    }

    .order_info {
        padding: 10px 0;
    }

    .email_title,
    .email_title_2 {
        font-size: 20px;
    }

    .email_section {
        height: 100%;
    }

    .footer_section {
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: 100%;
    }

    .left_section,
    .newsletter,
    .footer_nav {
        flex: 1 1 100%;
    }

    .newsletter_form {
        align-items: center;
        margin-left: 10px;
        margin-right: 10px;
    }

    .logo {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .logo img {
        margin: 5px;
    }

    .newsletter {
        margin-top: 20px;
    }

    .footer_nav a {
        font-size: 18px;
    }

    .footer_nav a:hover {
        color: aliceblue;
        font-size: 18px;
        line-height: 100%;
        opacity: 100;
    }

    .footer-left {
        flex: 1;
        text-align: left;
    }

    .footer-right {
        flex: 1;
        text-align: right;
    }

    .footer-icon {
        width: 25px;
        height: 25px;
    }

  .shadow {
    display: none;
  }
}


/*new styles*/
.main_image {
  max-width: 100%;
  height: auto;
  z-index: 1;
}

.overlay_image {
  position: absolute;
  max-width: 100%;
  height: auto;
  z-index: 2;
  bottom: -100px
}

.container_pink {
  position: relative;
}

.shadow {
  position: absolute;
  bottom: 39px;
  right: 138px;
}

@media screen and (max-width: 576px) {
  .header_image_wrapper {
    width: 100%;
  }

  .overlay_image {
    bottom: -70px
  }
}



