* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

  body{
    width: 1600px;
    margin: 0 auto;;
  }

  /* HEADER */

  .header{
    background-color: #F8EDF0;
    width: 1600px;
height: 862px;
  }

  .header_menu{
    list-style:none;
    padding: 0;
    margin: 0;
    display: flex; 
   justify-content: center;
    gap:30px;
  }
  
  .header_nav{
    width: 1125px;
  height: 79px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:10px auto;
  }

  .header_menu li a.header_main{
    color:#D23166;
    font-family: Roboto;
    font-weight:bold;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0%;
    opacity: 100;
    
    
    }
    .header_menu li a{
      font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0%;
    text-decoration: none;
    color:#150101;
    opacity:60%;
    padding-left: 15px;
    }
    
    .header_section{
      display: flex;
      width: 1120px;
     justify-content: space-between;
     align-items: center;
     margin:25px auto;
    }
    
    .header_section_box{
      width: 665px;
    height: 364px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    }

.header_section h5{
  font-family: Roboto;
font-weight: 500;
font-size: 14px;
line-height: 100%;
letter-spacing: 10%;
color: #0F0101;
}

.header_section_title{
  font-family: Fredoka;
font-weight: bold;
font-size: 57.33px;
line-height: 121%;
letter-spacing: 0%;

}

.header_title_span{
  color: #D23166;
}

.header_section_par{
  font-family: Hind Madurai;
font-weight: 400;
font-size: 18px;
line-height: 27px;
letter-spacing: 0%;

}

.header_i_wrapper {
  position: relative;
  width: 300;
  height: auto;
}

.paragraph_quotes{
  position: relative;
}

.quotes_1{
  position:absolute;
  left:-15px;
  top:5px;
}

.quotes_2{
  position:absolute;
  left:130px;
  top:62px;
}

.main_image{
  width: 100%;
  display: block;
}

.overlay_image {
  position: absolute;
  bottom: -40px;
  left: 650px;
  width: 100%;
  pointer-events: none; 
  width: 851.858563227616px;
height: 548.1037262172892px;
}

/*CONTAINER*/

.container{
    width: 1160px;
    margin: 50px auto;
}

.flex-container {
  display: flex;    
  justify-content: space-between;
  text-align: center;
}

.item{
  width:250px;
  height:200px;
  background-color:white;
  border-radius: 10px;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.item_img{
  height: 40px;
  margin:40px auto 25px auto;
  display:block;
}

.item h2{
  font-family: Hind Madurai;
font-weight: 600;
font-size: 20px;
line-height: 100%;
letter-spacing: 0%;
margin-bottom: 15px;
}

.item p{
  font-family: Hind Madurai;
font-weight: 400;
font-size: 14px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
color:#000000;
opacity:60%;
}


/*Section*/

.section{
    width: 1600px;
    margin: 50px auto;
    height: 656px;
    background-color: #F8EDF0;
  
}

.container_pink{
  width:1200px;
  margin: 40px auto;
  display: flex;
  align-items: center;
  justify-content:space-between;
}
  
.container_pink h1{
  font-family: Hind Madurai;
font-weight: 600;
font-size: 44.2px;
line-height: 111.00000000000001%;
letter-spacing: 0%;
width: 349px;
height: 98.2px;
}

.text_pink{
  font-family: Roboto;
font-weight: 400;
font-size: 16px;
line-height: 24px;
margin-bottom: 10px;
  width: 422px;

opacity: 0.7;
letter-spacing: 0%;

}

.btn{
display:flex;
align-items: center;
justify-content: center;
width: 165px;
height:50px;
font-weight: 500;
font-size:16px ;
border-radius: 5px;
background-color: #D64374;
text-decoration: none;
color: white
}


/*SECTION MAIN*/

.main{
  width: 1160px;
  height: 1900px;
  margin: 70px auto;
  }

  .product{
    text-align: center;
    margin-top:70px;
   
  }

  .product_header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    font-family: Hind Madurai;
  font-weight: 600;
  font-size: 40.2px;
  line-height: 100%;
  letter-spacing: 0%;
  }
  

  .product_nav {
    list-style: none; 
    padding: 0;
    margin: 0;
    display: flex; 
   justify-content: center;
    gap:50px;
  }
  
  
.product_nav li a {
  text-decoration: none;
  font-weight: 600;
  color: #333;
  font-size: 14px;
  padding-bottom: 5px;
  font-family: Roboto;
font-weight: 500;
font-size: 18px;
line-height: 100%;
letter-spacing: 0%;
opacity:60%;
}


.product_nav li a.product_main{
  text-decoration: underline;
  text-decoration-color: #D64374;
  text-decoration-thickness:3px;

}



.info p{
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 25px;
    width: 422px;
  
  opacity: 0.7;
  letter-spacing: 0%;
}



  
/* New ice cream*/

.container_ice{
  font-family: Hind Madurai;
  font-weight: 700;
  font-size: 26px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 10px;
}














.product_title {
  font-size: 24px;
  font-weight: bold;
  color: #1a1a1a;
}







.new_price{
  font-size: 26px;
  font-weight: 500;

}

.old_price {
  text-decoration: line-through;
  color: gray;
  margin-left: 10px;
  font-family: Hind Madurai;
font-weight: 500;
font-size: 20px;
}

.price{
  margin-bottom: 15px;
}






.info_2{
  width: 454px;
height: 234px;

}

.container_pink_2{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

  .right-align {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
  }

  .section_2{
    width: 1600px;
height: 678px;
background-color: #F8EDF0;
  }

  .img_order{
    width: 305px;
height: 627px;
margin-top: 100px;
border-radius: 15px;
  }

  .container_3{
    width:1160px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  
  .order_info{
    width:750px ;
  }
   

  .title_order{
    font-family: Roboto;
    font-weight: 500;
    font-size: 44.2px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 25px;
    
  }

  .text_order{
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 1%;
    margin-bottom:25px;  
    width: 450px;  
  }

  .title_order_3{
    font-family: Roboto;
font-weight: 400;
font-size: 22px;

line-height: 100%;
letter-spacing: 0%;


  }


.email_section{
  width: 1600px;
height: 545px;
display:flex;
justify-content: space-between;

}

.email_box{
  width: 637px;
  height: 225 px;
  border-radius: 5px;
  display:flex;
flex-direction: column;
margin:120px auto;


}

.email
{
  width: 637px;
height: 74px;
border-radius: 5px;
border-color: #FAFAFA;
background-color: #FAFAFA;
border: 1px solid transparent;
padding-left: 20px;
}

.email_field{
  display:flex;
  justify-content: space-between;
}




.btn_email{
  width: 134px;
height: 74px;
border-radius: 5px;

display:flex;
align-items: center;
justify-content: center;
border-color: #FAFAFA;

font-weight: 500;
font-size:16px ;

border-radius: 5px;
background-color: #D64374;
text-decoration: none;
border: transparent;

color: white
}

.email_title_2{
  font-family: Roboto;
font-weight: 500px;
font-size: 44px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
margin-bottom: 70px;
}

.email_title{
  font-family: Roboto;
font-weight: 500px;
font-size: 44px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
margin-bottom: 10px;
}

.footer{
  width: 1600px;
height: 340px;
display: flex;
justify-content: space-between;
margin:0 auto;
background-color: #0A0808;

}

.footer_section{
  width:1160px;
  margin:50px auto ;
  display: flex;
justify-content: space-between;
align-items: center;
}

.logo img{
  padding-right: 15px;
}

.logo_penguin{
  width: 79px;
height: 79px;

}

.logo_penguin_section{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width:1160px;
}

.footer_par{
  font-family: Roboto;
font-weight: 400;
font-size: 12px;
line-height: 140%;
letter-spacing: 1%;
color:white;
width: 207px;
height: 47px;
opacity: 0.7;
margin-bottom:25px;

}








.footer_par2{
color:#FFFFFF;
margin-bottom: 10px;
font-family: Roboto;
font-weight: 500;
font-size: 12px;
line-height: 100%;
letter-spacing: 0%;

}

.footer-icon{
  margin-right:5px;}

.footer_nav{
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin-top:40px;
}

.footer_nav a{
  
  text-decoration: none;

  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  letter-spacing: 1%;
  color:white;
  width: 207px;
  height: 47px;
  opacity: 0.7;
  margin-bottom:25px;
}

ul li:last-child {
  margin-bottom: 0;
}

.footer_nav li {
  margin-bottom: 7px; 
}




form{
  gap:0;
}



.newsletter{
  display:flex;
  justify-content: space-between;
  flex-direction: column;
}

h4{
  color: white;
  margin-bottom: 10px;
}

.email_footer{
  width:263px;
  height: 55px;
border-radius: 5px;
border-width: 2px;
opacity: 0.5;
border-color: #D64374;
background-color: #0A0808;
border: 2px solid  #D64374;
padding-left: 20px;
}

.btn_footer{
  width: 125px;
height: 55px;
border-radius: 5px;
background-color: #D23166;
font-family: Roboto;
font-weight: 500;
font-size: 20px;
line-height: 100%;
letter-spacing: 0%;
color: white;
border: transparent;

}

.newsletter_form {
  display: flex;
  margin-bottom: 10px;
}

.img_paypal{
  width: 18.77719497680664px;
height: 22.000192642211914px;
margin-bottom: -15px;

}

.img_paypal_blue{
  width: 14.59750747680664px;
height: 17.004098892211914px;

}


.rectangle{
  width: 30px;
height: 30px;
border-radius: 3px;
background-color: white;
margin-right: 15px;
display: flex;
  justify-content: center; 
  align-items: center;  

}

.rectangle_title{
  display:flex;
  align-items: center;
  margin-bottom: 10px;
}

.rectangle_img{
  width: 15px;
height: 20px;
}

.app_icons{
display: flex;
align-items: center;
}


.app_icon{
  margin-left:-10px;
}

.app_icon_1{
  width: auto;
  object-fit: contain;
}


.review{
  display: flex;
  justify-content: flex-start;
  align-items: center;
 margin-bottom: 30px;
}


.girl_img{
  padding-right:  10px;
}

.girl_image{
  width: 189px;
height: 48px;

}


.container_pink_3{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.girl_img_last{
  width: 35px;
height: 35px;
}

.review_nav img{
 margin-left:25px;
}


.review_nav img:first-child {
  margin-left: 0;
}

.girl_image h4{

  font-family: Roboto;
font-weight: 500px;
font-size: 12px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;

}

.girl_image h3{
  width: 77px;
  height: 15px;
  opacity: 0.7;
  font-family: Roboto;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;  
  
}


.girl_image h2{
 
    font-family: Hind Madurai;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 5px;
    
      }

  .girl_img_second{
    border: 1px solid #D64374;
    border-radius: 50%;
  }

  .info_container_pink{
    height:270px;
    width:442px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }