* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

  body{
    margin: 0 auto;;
  }

  .container{
    max-width: 1125px;
    margin: 0 auto;
    }

.pink_container{
  background-color:#F8EDF0;
}

.container_black{
  background-color: #000000;
}
  /* HEADER */

.header{
    background-color: #F8EDF0;
    padding-bottom: 50px;

  }

.header_menu{
    list-style:none;
    padding: 0;
    margin: 0;
    display: flex; 
    flex-wrap: wrap;
   justify-content: center;
   align-items: center;
    gap:30px;
  }
  
  .header_nav{
  height: 79px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin:10px auto;
  }

  .header_menu li a.header_main{
    color:#D23166;
    font-family: Roboto;
    font-weight:bold;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0%;
    opacity: 100;
    
    
    }
    .header_menu li a{
      font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0%;
    text-decoration: none;
    color:#150101;
    opacity:60%;
    padding-left: 15px;
    }
    
    .header_section{
      display: flex;
     justify-content: space-between;
     align-items: center;
     margin:25px auto;
    }
    
    .header_section_box{
      max-width: 665px;
      width: 100%;
    height: 364px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    }

.header_section h5{
  font-family: Roboto;
font-weight: 500;
font-size: 14px;
line-height: 100%;
letter-spacing: 10%;
color: #0F0101;
}

.header_section_title{
  font-family: Fredoka;
font-weight: bold;
font-size: 57.33px;
line-height: 121%;
letter-spacing: 0%;

}

.header_title_span{
  color: #D23166;
}

.header_section_par{
  font-family: Hind Madurai;
font-weight: 400;
font-size: 18px;
line-height: 27px;
letter-spacing: 0%;

}


.paragraph_quotes{
  position: relative;
}

.quotes_1{
  position:absolute;
  left:-15px;
  top:5px;
}

.quotes_2{
  position:absolute;
  left:130px;
  top:62px;
}





.header_image_wrapper{
position: relative;
 max-width: 100%;
  height: auto;
  overflow: visible;
}

.main_image{
  display: block;
  max-width: 100%;
}

.overlay_image {
  position: absolute;
  bottom: -150px;
  left: -200px;
  pointer-events: none; 
  width: 851.858563227616;
height: 548.1037262172892px;
}


/*CONTAINER*/


.flex-container {
  display: flex;    
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}

.item{
  max-width:250px;
  width:100%;
  height:200px;
  background-color:white;
  border-radius: 10px;
}

.item:hover{
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.item_img{
  height: 40px;
  margin:40px auto 25px auto;
  display:block;
}

.item h2{
  font-family: Hind Madurai;
font-weight: 600;
font-size: 20px;
line-height: 100%;
letter-spacing: 0%;
margin-bottom: 15px;
}

.item p{
  font-family: Hind Madurai;
font-weight: 400;
font-size: 14px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
color:#000000;
opacity:60%;
padding:5px 20px 5px 20px;
}


/*Section*/

.section{
    background-color: #F8EDF0;
  
}

.container_pink{
  margin: 40px auto;
  display: flex;
  align-items: center;
  justify-content:space-between;
}
  
.container_pink h1{
  font-family: Hind Madurai;
font-weight: 600;
font-size: 44.2px;
line-height: 111.00000000000001%;
letter-spacing: 0%;
max-width: 349px;
width:100%;
height: 98.2px;
}

.text_pink{
  font-family: Roboto;
font-weight: 400;
font-size: 16px;
line-height: 24px;
margin-bottom: 10px;
  max-width: 422px;
  width: 100%;

opacity: 0.7;
letter-spacing: 0%;

}

.btn{
display:flex;
align-items: center;
justify-content: center;
width: 165px;
height:50px;
font-weight: 500;
font-size:16px ;
border-radius: 5px;
background-color: #D64374;
text-decoration: none;
color: white
}


/*SECTION MAIN*/

.main{
height: 1900px;
}

.product{
text-align: center;
margin-top:70px;
}

  .product_header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    font-family: Hind Madurai;
  font-weight: 600;
  font-size: 40.2px;
  line-height: 100%;
  letter-spacing: 0%;
  }
  
  

  .product_nav {
    list-style: none; 
    padding: 0;
    margin: 0;
    display: flex; 
   justify-content: center;
    gap:50px;
  }
  
  
.product_nav li a {
  text-decoration: none;
  font-weight: 600;
  color: #333;
  font-size: 14px;
  padding-bottom: 5px;
  font-family: Roboto;
font-weight: 500;
font-size: 18px;
line-height: 100%;
letter-spacing: 0%;
opacity:60%;
}


.product_nav li a.product_main{
  text-decoration: underline;
  text-decoration-color: #D64374;
  text-decoration-thickness:3px;

}

.product_nav li a:hover{

text-decoration: underline;
  text-decoration-color: #D64374;
  text-decoration-thickness:3px;

}


.info p{
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 25px;
max-width: 422px;
width:100%;
  
  opacity: 0.7;
  letter-spacing: 0%;
}



  
/* New ice cream*/

.container_ice{
  font-family: Hind Madurai;
  font-weight: 700;
  font-size: 26px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 10px;
}














.product_title {
  font-size: 24px;
  font-weight: bold;
  color: #1a1a1a;
}







.new_price{
  font-size: 26px;
  font-weight: 500;

}

.old_price {
  text-decoration: line-through;
  color: gray;
  margin-left: 10px;
  font-family: Hind Madurai;
font-weight: 500;
font-size: 20px;
}

.price{
  margin-bottom: 15px;
}






.info_2{
  max-width: 454px;
  width:100%;
height: 234px;

}

.container_pink_2{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

  .right-align {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
  }

  .section_2{
max-height: 678px;
height:100%;
background-color: #F8EDF0;
  }

  .img_order{
    width: 305px;
height: 627px;
margin-top: 100px;
border-radius: 15px;
  }

  .container_3{
   
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  
  .order_info{
    width:750px ;
  }
   

  .title_order{
    font-family: Roboto;
    font-weight: 500;
    font-size: 44.2px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 25px;
    
  }

  .text_order{
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 1%;
    margin-bottom:25px;  
    max-width: 450px;  
    width:100%;
    }

  .title_order_3{
    font-family: Roboto;
font-weight: 400;
font-size: 22px;

line-height: 100%;
letter-spacing: 0%;


  }


.email_section{

max-height: 545px;
height: 100%;
display:flex;
justify-content: space-between;

}

.email_box{
  max-width: 637px;
  max-height: 225 px;
  width:100%;
  height:100%;
  border-radius: 5px;
  display:flex;
flex-direction: column;
margin:120px auto;


}

.email
{
  width: 637px;
height: 74px;
border-radius: 5px;
border-color: #FAFAFA;
background-color: #FAFAFA;
border: 1px solid transparent;
padding-left: 20px;
}

.email_field{
  display:flex;
  justify-content: space-between;
}

.btn_email{
  width: 134px;
height: 74px;
border-radius: 5px;

display:flex;
align-items: center;
justify-content: center;
border-color: #FAFAFA;

font-weight: 500;
font-size:16px ;

border-radius: 5px;
background-color: #D64374;
text-decoration: none;
border: transparent;

color: white
}

.email_title_2{
  font-family: Roboto;
font-weight: 500;
font-size: 44px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
margin-bottom: 70px;
}

.email_title{
  font-family: Roboto;
font-weight: 500;
font-size: 44px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
margin-bottom: 10px;
}

.footer{
height: 340px;
display: flex;
justify-content: space-between;
background-color: #0A0808;

}

.footer_section{
  margin:50px auto ;
  display: flex;
  justify-content: space-between;
  align-items: center;
}




.logo img{
  padding-right: 15px;
}

.logo_penguin{
  width: 79px;
height: 79px;

}

.logo_penguin_section{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  
}

.footer_par{
  font-family: Roboto;
font-weight: 400;
font-size: 12px;
line-height: 140%;
letter-spacing: 1%;
color:white;
width: 207px;
height: 47px;
opacity: 0.7;
margin-bottom:25px;

}








.footer_par2{
color:#FFFFFF;
margin-bottom: 10px;
font-family: Roboto;
font-weight: 500;
font-size: 12px;
line-height: 100%;
letter-spacing: 0%;

}

.footer-icon{
  margin-right:5px;}

.footer_nav{
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin-top:80px;
}

.footer_nav a{
  
  text-decoration: none;

  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  letter-spacing: 1%;
  color:white;
  width: 207px;
  height: 47px;
  opacity: 0.7;
  margin-bottom:25px;
}

ul li:last-child {
  margin-bottom: 0;
}

.footer_nav li {
  margin-bottom: 7px; 
}




form{
  gap:0;
}



.newsletter{
  display:flex;
  justify-content: space-between;
  flex-direction: column;
}

h4{
  color: white;
  margin-bottom: 10px;
}

.email_footer{
  width:263px;
  height: 55px;
border-radius: 5px;
border-width: 2px;
opacity: 0.5;
background-color: #0A0808;
border: 2px solid  #D64374;
padding-left: 20px;
color:white;
}

input[type="email"]:focus {
  outline: none;
  border:1px solid #D23166;
  box-shadow: none;Ð‡
}

.btn_footer {
    width:100;
    max-width: 125px;
    height: 55px;
    border-radius: 5px;
    background-color: #D23166;
    font-family: Roboto;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: white;
    border: transparent;
  }
.newsletter_form {
  display: flex;
  margin-bottom: 10px;
}

.img_paypal{
  width: 18.77719497680664px;
height: 22.000192642211914px;
margin-bottom: -15px;

}

.img_paypal_blue{
  width: 14.59750747680664px;
height: 17.004098892211914px;

}


.rectangle{
  width: 30px;
height: 30px;
border-radius: 3px;
background-color: white;
margin-right: 15px;
display: flex;
  justify-content: center; 
  align-items: center;  

}

.rectangle_title{
  display:flex;
  align-items: center;
  margin-bottom: 10px;
}

.rectangle_img{
  width: 15px;
height: 20px;
}

.app_icons{
display: flex;
align-items: center;
}


.app_icon{
  margin-left:-10px;
}

.app_icon_1{
  width: auto;
  object-fit: contain;
}


.review{
  display: flex;
  justify-content: flex-start;
  align-items: center;
 margin-bottom: 30px;
}


.girl_img{
  padding-right:  10px;
}

.girl_image{
  width: 189px;
height: 48px;

}


.container_pink_3{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.girl_img_last{
  width: 35px;
height: 35px;
}

.review_nav img{
 margin-left:25px;
}


.review_nav img:first-child {
  margin-left: 0;
}

.girl_image h4{
font-family: Roboto;
font-weight: 500;
font-size: 12px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;

}

.girl_image h3{
  width: 77px;
  height: 15px;
  opacity: 0.7;
  font-family: Roboto;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;  
  
}


.girl_image h2{
 
    font-family: Hind Madurai;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 5px;
    
      }

  .girl_img_second{
    border: 1px solid #D64374;
    border-radius: 50%;
  }

  .info_container_pink{
    height:270px;
    max-width:442px;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }



  @media (max-width: 480px) {
    .header {
      height: auto; 
      padding: 20px;
    }
  
    .header_nav {
      flex-direction: column;
      align-items: center;
      text-align: center;
      height: auto;
      gap: 10px;
    }
  
    .header_menu {
      flex-direction: column;
      align-items: center;
      gap: 10px;
      margin-top: 10px;
    }
  
    .header_button {
      margin-top: 10px;
    }
  
    .header_section {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

   
  
    .header_section_box {
      width: 90%;
      height: auto;
      margin-bottom: 20px;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .header_section_title {
      font-size: 20px;
      line-height: 120%;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  
    .header_section_par {
      font-size: 16px;
      line-height: 22px;
      padding-bottom: 10px;
    }
  
    .header_image_wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 90%;
    }
  
    .main_image, .overlay_image {
      max-width: 100%;
      height: auto;
    }

    .overlay_image {
      top: 130px;
      left: -40px;
      }


    .container_pink{
      display: flex;
      flex-direction: column;
      align-items: center;
      width:90%;

    }

    .flex-container{
      align-items: center;
      text-align: center;
      flex-direction: column;
    }

    .info_container_pink{
      display: flex;
      width: 80%;
      height: auto;
      margin-bottom: 20px;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .info_container_pink h1{
      font-size: 30px;
      line-height: 120%;
      padding-top: 15px;
      height: 50px;
    }

    .image{
      max-width: 65%;
      height: auto;
    }

    .product_header{
      font-size: 20px;
    }
    .product_nav{
      display: flex;
      flex-direction:column;
      gap: 10px;
    }

    .container_pink_2{
      display: flex;
      flex-direction:column;
      align-items: center;
      margin-bottom: 20px;
    }

    .container_pink_3{
      display: flex;
      flex-direction:column;
      align-items: center;
      margin-bottom: 20px;
    }

    .image-scoops{
      display: none;
    }

    .img_order{
      display: none;
    }

    .title_order{
      font-size: 20px;
      padding-top: 10px;
   }

   .container_3{
    margin: 5px auto;
   }

  
    .container {
      width: 90%;     
      padding-left: 15px; 
      padding-right: 15px;
   }

  .info_2{
    width: 90%;     
    padding-left: 15px; 
    padding-right: 15px;
   }

   .info{
    width: 90%;     
    padding-left: 15px; 
    padding-right: 15px;
   }

  .pink_container{
    height: auto;
  }

  .email_box{
    width: 100%;
    }

    .order_info{
      padding:10px 0;
    }

    .email_title, .email_title_2{
      font-size: 20px;
    }

    .email_section{
      height: 100%;
    }
  }

  

